{% extends 'base.htm' %}
{% block title %}Updata tasks{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}
  
  <div class="mb-3">
    <label>Task Name</label>
    <input type="text" name="task_name" value="{{ task.task_name }}" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Owner</label>
    <select name="ownername" class="form-select" required>
      
        <option value="{{ user.username }}" {% if task.owner.username == user.username %}selected{% endif %}>{{ task.owner.username }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Payer</label>
    <select name="payername" class="form-select" required>
      {% for user in usernames %}
        <option value="{{ user.username }}" {% if task.payer.username == user.username %}selected{% endif %}>{{ user.username }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-success">Update Task</button>
</form>
{% endblock %}